/*h1
{
	color: purple;
}

h4
{
	color: green;
}

li
{
	color: orange;
	text-align: center;
}*/

/*Hexadicimal uses RGB values. 
123456789ABCDEF
# (Two digits for red) (Two digits for green) (Two digits for blue)*/

h1
{
	/*background property is applied after the body background property*/
	background: black;
	/*border color, width and style all need to be defined for it to show*/
	/*border-color: white;
	border-width: 5px;
	border-style:solid;*/

	/*Alternative declaration for border. <color> <size> <style>*/
	border: white 5px dotted;

	color: #FEF0F0;
}

h4
{
	background: rgb(200,10,10);
	color: rgb(0,255,255);
}
/*rgba is for transparency. The value is between 0 and 1*/
li
{
	color: rgba(0,250,0,0.5);
}
body
{
	color: white;
	/*background: black;*/
	/*The image is tiled horizontally and vertically*/
	background: url(woodgrain.jpg);
	/*This property will prevent the image from being tiled*/
	background-repeat: no-repeat;
	/*This property will make the pricture cover the entire background*/
	background-size: cover;
}