body
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

p
{
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 2.0em;
    /* font-weight: bold; */
    /* Values range from 100 - 800 */
    font-weight: 200;
    line-height: 1.5;
    text-align: justify;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
}

h1
{
    font-size: 3em;
    text-align: center;
    text-decoration: line-through;
}

/* em is used to set the side of the font relative to the parent font. 2em means, twice the size of the parent default font size.  */
span
{
    font-size: 2em;
}